<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>write the secret code only known to admins</h1>
    {% if error_message %}
        <p>{{error_message}}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="secret_code">Secret-Code</label>
        <input type="text" id="secret_code" name="secret_code"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>