<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>NGO login</h2>
    {% if error_message == "NGO not found" %}
        <p>{{error_message}}</p>
        <a href="/ngo/register">Register</a>
    {% endif %}

    {% if error_message == "Password Incorrect" %}
        <p>{{error_message}}</p>
    {% endif %}
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>

</body>
</html>